
@{
    ViewData["Title"] = "Update";
}

@model UpdateSettingVM
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="Value"></label>
                    <input asp-for="Value" type="text" class="form-control">
                    <span asp-validation-for="Value"></span>
                </div>
                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

