@model Dictionary<string,string>
   <!--FOOTER SECTION -->
    <div id="footer">
    <a href="@Model["HeaderTitle"]">2014 www.yourdomain.com</a> | All Right Reserved | Terms | Policies | Licenses
</div>
    <!-- END FOOTER SECTION -->
