@model Dictionary<string,string>
<!-- NAV SECTION -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">@Model["HeaderTitle"]</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home-sec">HOME</a></li>
                <li><a href="#services-sec">SERVICES</a></li>
                <li><a href="#price-sec">PRICING</a></li>
                <li><a href="#contact-sec">CONTACT</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Home" asp-action="Index">@User.Identity.Name</a></li>
                    <li><a asp-area="Manage" asp-controller="Service" asp-action="Index">Admin Panel</a></li>
                    <li><a  asp-controller="Account" asp-action="Signout">SignOut</a></li>

                }
                else
                {
                    <li>
                        <a class="btn btn-dark" asp-controller="Account" asp-action="Login">Login</a>
                   </li>

                }
            </ul>
        </div>

    </div>
</div>